Repository baldurlogi/trackman-fe-assignment: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(style): add tailwindcss v4 and cleanup init code
  package-lock.json
  package.json
  public/vite.svg
  src/App.tsx
  src/assets/react.svg
  src/index.css
  vite.config.ts
Due: eslint --fix, prettier --write

fix(config): fixing config of vite
  vite.config.ts
Due: none

chore(theme): add colors/typography/spacing and tailwind extentions
  index.html
  src/App.tsx
  src/index.css
Due: eslint --fix, prettier --write

feat(components): add NavBar + minor css fixes
  src/App.tsx
  src/assets/logo-trackman.png
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/NavBar.tsx
Due: eslint --fix

feat(router): add react-router-dom and base routes for facilities + link in navbar
  package-lock.json
  package.json
  src/App.tsx
  src/app/router.tsx
  src/components/ui/NavBar.tsx
  src/main.tsx
  src/pages/FacilitiesListPage.tsx
  src/pages/FacilityCreatePage.tsx
Due: eslint --fix, prettier --write

feat(types): add facility and card types and exports
  commitlint.config.js
  package.json
  src/App.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/CardGrid.tsx
  src/components/ui/Input.tsx
  src/constants/index.ts
  src/types/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat(utils): add open/closed time utils
  package-lock.json
  package.json
  src/schemas/index.ts
  src/utils/time.ts
Due: eslint --fix, prettier --write

chore(seed): add local storage CRUD service and sed data
  src/app/bootstrap.ts
  src/data/seed.ts
  src/main.tsx
  src/pages/FacilitiesListPage.tsx
  src/services/storage.ts
Due: eslint --fix

feat(store): add facilities zustand store with hydrate, CRUD and selectors
  package-lock.json
  package.json
  src/app/bootstrap.ts
  src/main.tsx
  src/pages/FacilitiesListPage.tsx
  src/store/facilities.ts
Due: eslint --fix, prettier --write

feat(store): implement create,update,remove and setDefault with persistence
  src/store/facilities.ts
Due: eslint --fix

fix(store): add the default fallback when delete
  src/store/facilities.ts
Due: eslint --fix

feat(card): add status and actions and default to card)
  src/app/bootstrap.ts
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/CardGrid.tsx
  src/data/seed.ts
  src/pages/FacilitiesListPage.tsx
  src/store/facilities.ts
  src/types/index.ts
  src/utils/time.ts
Due: eslint --fix

feat(card): add delete confirm component and wire store removal with auto-default reassignment
  src/components/ui/Button.tsx
  src/components/ui/CardGrid.tsx
  src/components/ui/ConfirmDelete.tsx
  src/pages/FacilitiesListPage.tsx
Due: eslint --fix

feat(form): create facility form with zod validation and default checkbox behavior
  package-lock.json
  package.json
  src/pages/FacilityCreatePage.tsx
Due: eslint --fix, prettier --write

feat(form): enforce default checkbox rules
  src/pages/FacilityCreatePage.tsx
Due: eslint --fix

feat(create): implement submit flow to create facility and redirect to home
  src/pages/FacilityCreatePage.tsx
Due: eslint --fix

feat(edit): add edit facility page with existing values and validation + submit
  src/app/router.tsx
  src/components/ui/Card.tsx
  src/pages/FacilityEditPage.tsx
  src/utils/time.ts
Due: eslint --fix

feat(sort): make sort facilities utils file to apply stable order
  src/pages/FacilitiesListPage.tsx
  src/store/facilities.ts
  src/utils/facilities.ts
Due: eslint --fix

fix(sort): fix so sorting facilities in alphabetical order
  src/pages/FacilitiesListPage.tsx
  src/store/facilities.ts
  src/utils/facilities.ts
Due: eslint --fix

chore(fix): cleanup unused data from testing and minor fixes
  src/App.tsx
  src/assets/golf1.jpg
  src/assets/golf2.jpg
  src/assets/golf3.jpg
  src/assets/golf4.jpg
  src/assets/golf5.jpg
  src/assets/golf6.jpg
  src/components/ui/FacilityGrid.tsx
  src/components/ui/FalicyCard.tsx
  src/components/ui/NavBar.tsx
  src/constants/index.ts
  src/data/seed.ts
  src/pages/FacilitiesListPage.tsx
  src/types/index.ts
Due: eslint --fix

chore(fix): fix UI and clean up code
  src/components/ui/Button.tsx
  src/components/ui/ConfirmDelete.tsx
  src/components/ui/FacilityCard.tsx
  src/components/ui/FacilityGrid.tsx
  src/components/ui/FalicyCard.tsx
  src/components/ui/Input.tsx
  src/components/ui/NavBar.tsx
  src/data/seed.ts
  src/index.css
  src/pages/FacilityCreatePage.tsx
  src/pages/FacilityEditPage.tsx
  src/store/facilities.ts
Due: eslint --fix, prettier --write

chore(add): keyboard navigation and ARIA and labels
  package-lock.json
  package.json
  src/App.tsx
  src/components/ui/Button.tsx
  src/components/ui/ConfirmDelete.tsx
  src/components/ui/NavBar.tsx
  src/components/ui/SkipLink.tsx
Due: eslint --fix, prettier --write

docs(readme): add setup, scripts, architecture, rules etc
  README.md
  src/App.tsx
  src/app/router.tsx
  src/components/ui/Button.tsx
  src/components/ui/ConfirmDelete.tsx
  src/components/ui/FacilityCard.tsx
  src/data/seed.ts
  src/pages/FacilityEditPage.tsx
  src/schemas/index.ts
  src/services/storage.ts
  src/store/facilities.ts
  src/utils/time.ts
Due: eslint --fix, prettier --write

fix(mobile): fix mobile view for cards and navbar, make more responsive
  package-lock.json
  package.json
  src/components/ui/NavBar.tsx
  src/pages/FacilitiesListPage.tsx
Due: eslint --fix, prettier --write

fix(default): fix default functionality error
  src/components/ui/FacilityCard.tsx
  src/components/ui/FacilityGrid.tsx
  src/pages/FacilitiesListPage.tsx
Due: eslint --fix

fix(vercel): make it work on Safari
  vercel.json
Due: prettier --write

fix(clean): cleaning files and folders for better readability
  README.md
  src/components/ui/Button.tsx
  src/components/ui/CheckboxField.tsx
  src/components/ui/ConfirmDelete.tsx
  src/components/ui/DefaultStar.tsx
  src/components/ui/FacilityCard.tsx
  src/components/ui/FacilityGrid.tsx
  src/components/ui/FacilityImage.tsx
  src/components/ui/Input.tsx
  src/components/ui/StatusBadge.tsx
  src/components/ui/Textarea.tsx
  src/constants/index.ts
  src/hooks/useFocusTrap.ts
  src/pages/FacilitiesListPage.tsx
  src/pages/FacilityCreatePage.tsx
  src/pages/FacilityEditPage.tsx
  src/schemas/index.ts
  src/services/storage.ts
  src/store/facilities.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: *.{md,json,css,scss}
